*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: rgb(29, 28, 28);
  background-color: #E6E6E6;
  font-family: "Inter", sans-serif;
}

button, input {
  font-family: "Inter", sans-serif;
}
